{% extends 'base.html' %}
{% block content %}

<div class="container my-3">
    <h2 class="border-bottom py-2">{{ order }}</h2>
    <ul class="list-group">
        <li class = "list-group-item">{{ order.dinner.dinnername }}</li>
        <li class = "list-group-item">dinner price : {{ order.dinner.price }}</li>
        <li class = "list-group-item">{{ order.style.stylename }}</li>
        <li class = "list-group-item">style price : {{ order.style.price }}</li>
        <li class = "list-group-item">people : {{ order.people }}</li>
    </ul>

    <div class="card my-3">
        <div class="card-body">
            <div class="card-text" style="white-space: pre-line;">요구사항 : {{ order.details }}</div>
            <div class="d-flex justify-content-end">
                <div class="badge badge-light p-2">
                    {{ order.create_date }}
                </div>
            </div>
        </div>
    </div>
    {% if user.is_staff %}
    <a href="{% url 'myorder:order_list' %}" class="btn btn-primary">목록보기</a>
    <a href="#" class="delete btn btn-sm btn-outline-secondary"
       data-uri="{% url 'myorder:order_complete' order.id %}">주문처리</a>
    {% else %}
    <a href="{% url 'myorder:index' %}" class="btn btn-primary">돌아가기</a>
    {% endif %}

</div>

{% endblock %}

{% block script %}
    <script type='text/javascript'>
        $(document).ready(function(){
            $(".delete").on('click', function() {
                if(confirm("주문을 완료 처리하고 삭제하시겠습니까?")) {
                    location.href = $(this).data('uri');
                }
            });
        });
    </script>
{% endblock %}